<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>generateAppStoreInformation</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>debugging</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<!-- 20251019 jesscmoore: Update these with app id and profile name -->
	<dict>
	<key>com.togaware.rrm_alpha</key>
	<string>IOS Development Profile</string>
	</dict>
	<!-- <key>signingCertificate</key> -->
	<!-- <string>Jessica Moore</string> -->
	<!-- <key>installerSigningCertificate</key> -->
	<!-- <string>Jessica Moore</string> -->
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>G7843T3SD3</string>
	<key>testFlightInternalTestingOnly</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
